.header {
  text-align: center;
  font-family:  'Helvetica Neue', Arial;
}

.tagline {
  background-color: #F5F5F5;
  width: 500px;
  margin: 0 auto;
}

.skills {
  width: 500px;
  margin: 0 auto;
}

.contact {
  background-color: #F5F5F5;
  width: 500px;
  margin: 0 auto;
}
